.bottom-container{
    display: flex;
}

.carousel-height{
  height: 200px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.link{
  text-decoration: none;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}